.header {
	padding: 1em;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("../../src/img/main_img.png");
	background-position: center;
	background-size: cover;
	text-align: center;
	color: $pure-white;
	&__wrap {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 0.5em;
		font-size: 4rem;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 1em;
		font-size: 2rem;
	}
	&__btns {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__btn {
		margin-top: 1.4em;
		padding: 0.5em 1.5em;
		background-color: $docs-color;
		border-radius: 20px;
		border: none;
		text-transform: uppercase;
		font-family: "Montserrat", sans-serif;
		font-size: 1.8rem;
		font-weight: 600;
		letter-spacing: 2px;
		color: $pure-white;

		&--reservation {
			margin-top: 1.4em;
			border: 2px solid $pure-white;
			background-color: transparent;
		}
	}
}
@media (min-width: 992px) {
	.header {
		&__wrap {
			padding-left: 2em;
			align-items: flex-start;
		}
		&__btns {
			flex-direction: row;
		}
		&__btn:last-child {
			margin-left: 1em;
		}
	}
}
