.nav {
	position: fixed;
	width: 100%;
	background-color: $pure-white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	&__wrap {
		padding: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		img {
			height: 80px;
		}
	}
	&__list {
		padding-top: 15em;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		position: fixed;
		top: -100%;
		left: 0;
		bottom: 100%;
		background-color: $docs-color;
		color: $pure-white;
		transition: 0.3s;
		&--showMenu {
			top: 0;
			bottom: 0;
		}
	}
	&__link {
	}
	&__burger {
		height: 30px;
		width: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 10;
		span {
			position: absolute;
			top: 0;
			height: 3px;
			width: 100%;
			background-color: $docs-color;
			transition: transform 0.3s;
		}
		span:nth-child(2) {
			top: 50%;
		}
		span:last-child {
			top: 100%;
		}
		&--active {
			span {
				background-color: $pure-white;
			}
			span:nth-child(1) {
				top: 50%;
				transform: rotate(45deg);
			}
			span:nth-child(2) {
				display: none;
			}
			span:nth-child(3) {
				top: 50%;
				transform: rotate(-45deg);
			}
		}
	}
}
