.nav {
	position: fixed;
	width: 100%;
	background-color: $pure-white;
	&__wrap {
		padding: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		img {
			height: 100px;
		}
	}
	&__burger {
		height: 30px;
		width: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 10;
		span {
			position: absolute;
			top: 0;
			height: 3px;
			width: 100%;
			background-color: $pure-black;
			transition: transform 0.3s;
		}
		span:nth-child(2) {
			top: 50%;
		}
		span:last-child {
			top: 100%;
		}
	}
}
