.offer {
	min-height: 80vh;
	padding-bottom: 6em;
	position: relative;
	background-image: url("../img/offer_img.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
	&__wrap {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		margin: 2.2em 0 1em 0;
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $pure-white;
	}
	&__text {
		padding: 0 0.5em;
		margin-bottom: 2.2em;
		font-size: 1.8rem;
		font-weight: 400;
		text-align: center;
		color: $pure-white;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		position: relative;
		margin: 0.5em 0;
		width: 350px;
		height: 600px;
		perspective: 800px;
		z-index: 2;
	}
	&__type {
		display: none;
		text-align: center;
	}

	&__img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		transition: 0.8s;
		&--one {
			background-image: url("../img/face.png");
		}
		&--two {
			background-image: url("../img/treatments.png");
		}
		&--three {
			background-image: url("../img/legs.png");
		}
		&--four {
			background-image: url("../img/hands.png");
		}
		&--five {
			background-image: url("../img/pedicure.png");
		}
		&--six {
			background-image: url("../img/trainings.png");
		}
	}

	&__desc {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 2em;
		border-radius: 15px;
		text-align: center;
		// background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8);
		transition: 0.8s;
		// opacity: 0;
		// transform: rotateY(-180deg);
	}
	&__name {
		margin-bottom: 1em;
		text-transform: uppercase;
		font-weight: 400;
		color: $pure-white;
	}
	&__list {
		list-style: none;
	}

	&__link {
		padding: 1em 0;
		border-bottom: 1px solid $pure-white;
		text-transform: uppercase;
		font-size: 2rem;

		a {
			text-decoration: none;
			color: $pure-white;
			transition: 0.3s;
			cursor: default;
		}
	}
	&__list--first:nth-of-type(1) .offer__link {
		font-size: 1.4rem;
	}
	&__list--second:nth-of-type(1) .offer__link {
		font-size: 1.5rem;
	}
	&__list--third:nth-of-type(1) .offer__link {
		margin-top: 10em;
	}
	&__link:last-child {
		border-bottom: unset;
	}
}

@media (min-width: 576px) {
	.offer {
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__card {
			margin: 0.5em;
			flex-basis: 55%;
		}
	}
}

@media (min-width: 768px) {
	.offer {
		&__card {
			flex-basis: 48%;
		}
	}
}

@media (min-width: 992px) {
	.offer {
		&__card {
			flex-basis: 31%;
		}
		&__card:hover .offer__img {
			transform: rotateY(-180deg);
			opacity: 0;
		}
		&__card:hover .offer__desc {
			transform: rotateY(0);
			opacity: 1;
		}
		&__img {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		&__type {
			margin-bottom: 2em;
			display: block;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 400;
			color: $pure-white;
		}
		&__desc {
			background-image: linear-gradient(315deg, #e5add9 0%, #dcf8);
			opacity: 0;
			transform: rotateY(-180deg);
		}
		&__link {
			a:hover {
				color: $desc-color;
				cursor: pointer;
			}
		}
	}
}
