.offer {
	min-height: 80vh;
	position: relative;
	background-image: url("/dist/img/offer_img.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		margin: 3em 0;
		font-size: 3rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $pure-white;
	}
	&__box {
		display: flex;
		flex-direction: column;
	}
	&__card {
		position: relative;
		// margin: 20px 80px;
		width: 350px;
		height: 500px;
		perspective: 800px;
	}

	&__img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		// border: 2px solid $docs-color;

		transition: 0.8s;
		&--one {
			background-image: url("/dist/img/treatments.png");
		}
		&--two {
			background-image: url("/dist/img/epilation.png");
		}
	}
	&__desc {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 2em;
		border-radius: 15px;
		text-align: center;
		// background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8);
		transition: 0.8s;
		// opacity: 0;
		// transform: rotateY(-180deg);
	}
	&__name {
		margin-bottom: 2em;
		text-transform: uppercase;
		font-weight: 400;
		color: $pure-white;
	}
	&__list {
		list-style: none;
	}
	&__link {
		padding: 1em 0;
		border-bottom: 1px solid $pure-white;
		text-transform: uppercase;
		font-size: 2rem;
		a {
			text-decoration: none;
			color: $pure-white;
			transition: 0.3s;
		}
	}
}

@media (min-width: 992px) {
	.offer {
		&__card:hover .offer__img {
			transform: rotateY(-180deg);
			opacity: 0;
		}
		&__card:hover .offer__desc {
			transform: rotateY(0);
			opacity: 1;
		}
		&__desc {
			background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8);
			opacity: 0;
			transform: rotateY(-180deg);
		}
		&__link {
			a:hover {
				color: $docs-color;
			}
		}
	}
}
