.socials {
	padding: 3em 1em;
	background-color: $socials-color;
	color: $pure-white;
	&__wrap {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__text {
		text-align: center;
		font-size: 3rem;
	}
}

@media (min-width: 768px) {
	.socials {
		padding: 3em 5em;
	}
}

@media (min-width: 992px) {
	.socials {
		&__wrap {
			flex-direction: row;
			justify-content: space-between;
		}
		&__text {
			font-size: 4rem;
		}
	}
}
